<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Itinerary</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
    <h1>Your Itinerary</h1>
    <table>
        <thead>
            <tr>
                <th>Flight ID</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="flight : ${itinerary}">
                <td th:text="${flight.flightId}">Flight ID</td>
                <td th:text="${flight?.origin}">Origin</td>
                <td th:text="${flight.destination}">Destination</td>
                <td th:text="${flight.departureTime}">Departure Time</td>
                <td th:text="${flight.arrivalTime}">Arrival Time</td>
                <td th:text="${flight.price}">Price</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
